.code-input {
  margin: 5px 0;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 5px;
  color: #FFF;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  &::-webkit-input-placeholder {
    color: #FFF;
  }
  &::-moz-placeholder {
    color: #FFF;
  }
  &:-ms-input-placeholder {
    color: #FFF;
  }
  &:-moz-placeholder {
    color: #FFF;
  }
}

.code-input::placeholder {
  text-transform: capitalize;
}

.code-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.code-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0 0;
  background-color: transparent;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 30px;

  span {
    padding: 10px;
    border-radius: 5px;
    text-decoration: underline;
    &:hover {
      background-color: rgba(255, 255, 255, 0.57);
    }
  }
}

@media only screen and (max-width: 600px) {
  .code-input {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
