@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.quiz-result-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 256px;
  height: 100vh;
  animation: slide-right 0.4s;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1),
  0 14px 45px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  .welcome-logo-ink {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    margin: 15px;
  }
  .welcome-logo{
    height: 35px;
    width: 35px;
  }
  h1 {
    font-size: 30px;
    margin: 10px 25px 25px 25px;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px;
  }
  .circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 5px;
  }

  .red {
    background: red;
  }

  .green {
    background: #02FF02;
    margin: 10px;
  }
}

.names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  height: 100%;
  p {
    padding-left: 20px;
    line-height: 15px;
    width: 215px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.users {
  background-color: rgba(128, 128, 128, 0.11);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.users::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.users::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.users::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.questions {
  .header {
    width: 100%;
    padding: 15px;
  }
  .header p,
  .header h3 {
    text-align: left;
  }
  span {
    padding-left: 30px;
    font-weight: 200px;
  }
  button {
    width: 96%;
    height: 30px;
    border: none;
    background: white;
    font-size: 15px;
    text-align: left;
    padding-left: 14px;
    border-radius: 5px;
    margin: 2px 5px 2px 5px;
    background: #0AB19B;
    color: white;
  }
  button.active {
    background: darken(#0AB19B, 10%);
  }
  button:hover {
    cursor: pointer;
    background: lighten(#0AB19B, 7%);
  }
}

