.take-quiz-header {
  color: #FFF;
  background-color: #00C3FF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px 20px 15px 20px;
}

.take-quiz-question {
  text-align: center;
}
