.welcome-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #FFF;
  border: 1px solid blue;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.05), 0 14px 45px rgba(0, 0, 0, 0.05);
}

.welcome-logo {
  margin-left: 20px;
}

.welcome-nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-link {
  margin: 0 10px;
}

.active-link {
  color: red;
}
